{% extends "LightUserBundle::layout.html.twig" %}

{% block scripts %}
<script type="text/javascript">
function checkLogin(username, password)
{ 
	var data = "checkId=1&u="+username+"&p="+password;

	var req = null; 
	try{activateTabButton(id);}
	catch(e){}
	if (window.XMLHttpRequest){
		req = new XMLHttpRequest();
	} else if (window.ActiveXObject){
		try {
			req = new ActiveXObject("Msxml2.XMLHTTP");
		} catch (e)	{
			try {
			req = new ActiveXObject("Microsoft.XMLHTTP");
			} catch (e) {}
		}}
	req.onreadystatechange = function()
	{ 
		if(req.readyState == 4){
			if(req.status == 200){
				//alert(req.responseText);
				if(req.responseText == "KO"){
					setupModal("badId");
					$('#mainModal').modal();
				}
				else if(req.responseText == "OK"){
					document.loginForm.submit();
				}
			}else{
				alert("404 ?");
				return false
			}	
		} 
	}; 
	req.open("POST", "{{ path('login_check_ajax') }}", true);
	req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");  
	req.send(data);	
} 
</script>
{% endblock %}
{% block title %}LightPanel : Mon serveur Minecraft{% endblock %}
{% block onLoad %}setDateFields(){% endblock %}
{% block content %}
        <div class="row">
            <div class="span4 offset4 well">
                <h2 style="text-align:center">Connexion Light Panel</h2>
                <div style="text-align:center">
                    <img src="{{ asset('bundles/lightuser/img/padlock.png') }}" alt="cadenas" title="Malgré les apparences, je suis un très gentils cadenas vous savez ;o)">
                </div>
                <form action="{{ path('login_check') }}" method="post" name="loginForm" class="form"  style="text-align:center"
                		onSubmit="checkLogin(document.loginForm.username.value, document.loginForm.password.value)">
                    <div class="control-group">
                        <fieldset>
                            <label for="" class="control-label">Nom d'utilisateur : </label>
                            <input type="text" placeholder="Nom d'utilisateur" name="username">
                        </fieldset>
                    </div>
                    <div class="control-group">
                        <fieldset>
                            <label for="" class="control-label">Mot de passe : </label>
                            <input type="password" placeholder="*******" name="password">
                        </fieldset>
                    </div>
                    <input type="hidden" name="login">
					<input type="hidden" name="fwdPath" value="" />
                    <div class="control-group" style="text-align:center">
                        <a href="javascript:void(0)" class="btn btn-primary">
                            Connexion</a>
                    </div>
                </form>
                <!-- <h5 style="text-align:center"><em>Utilisez les informations de connexion du forum.</em></h5> -->
            </div>
        </div>
        {# BOTTOM BAR #}
        <div class="navbar" style="clear:both; padding-top:20px;">
            <div class="navbar-inner">
                <div class="container">
                    <div style="text-align:center; float:left; margin-top:3px;">
                        <img src="http://www.w3.org/html/logo/badge/html5-badge-h-performance-semantics.png" width="82" height="32" alt="HTML5 Powered with Performance &amp; Integration, and Semantics" title="HTML5 Powered with Performance &amp; Integration, and Semantics">
                        <img src="http://teamsolex.eu/lc-events/web/img/ajax.png" width="82" height="32" alt="Asynchronous Javascript And Xml" title="AJAX Powered">
                    </div>
                    <div class="span9" style="margin-top:8px; text-align:center; clear:none;z-index: 10; position:absolute;">
                        <a href="mailto:teamsolex@gmail.com" style="color:#707070; vertical-align:middle; margin-left:199.9px;">&copy;2013 SLHostings</a>
                        <!-- Non Antoine je ne mettrai pas 200. >:( -->
                        <!-- Umad ?
                            ...................................................................................................
                            ...................................................................................................
                            .................................mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm......................
                            .........................mmmmmmmmmmmmmmmm..................................mmmmm...................
                            ...................mmmmmmmmmmm..........mmmmm...............mm................mmm..................
                            .................mmmm............................................mm.............mmm................
                            ..............mmmm....m..mmmmmm............mmm..............mm......m............mmm...............
                            ............mmmm.................................................mm....m..........mmm..............
                            ...........mmm............mmmmm....................m..........mmm...m....m.........mmm.............
                            ..........mm...........m.........................m................mm...m....m.......mmm............
                            ..........mm.........m............m..................................m..m....m.......mm............
                            ..........mm........m..................................................m..m...........mm...........
                            .........mm..........................................mmmmmmmmmmmmmm...................mmm..........
                            ........mmm............mmmmmmmm...................mmmmm...mmmmmmmmmmmm.................mmm.........
                            ....mmmm...........mmmmmmmmmmmmmm.............mmmm......mmmmmmmm..mmm..................mmm.......
                            ...mmm...mmmmm.mmm.mmmmmmmmmmmmmmm...........mmm.....mmmmmmmmmmmmmmmmm....m....mmmmmmmm.mmmm.....
                            ..mm...m..................mmmmmmmmmmmmm.......mmmmmmmmm...........mm...m..................mmm....
                            .mm..m...mm.....................mmmm...........mmmmm......mmm..............mmmmmmmmmm.......mm...
                            .mm.m..m...mmmmmm................mm.........................mmmm.......mmmmmm......mmmm....m.mm..
                            .mmm.....mmmmmmmmmm....m.........mm...........................mmmmmmmmmmm.....mm.....mmm...m..mmm
                            .mmm.....m.......mmmmmmmm........mm...........................................mm......mm...m..mmm
                            .mmm..m.......mm..mmmm........mmmm.........................................mmmmm.......mm..m...mm
                            .mm....m......mm...........mmmm................mmmmmmmm................mmmmm...mmmmmm..mm..m...mm
                            .mmmm...mm..mmmm..........mmmmm....................mm..............mmmmmm.....mmm.mmm.mmm..m..mmm
                            ..mm.mm.....mmmm.......mm..mmmmm.........mmmmmmm...mm..........mmmmmmm........mm......mm......mmm
                            ..mmm....m..mm.mmm...m........mmm..............m.mmm......mmmmmmmm.mm.......mmmm.....mm...m..mmm.
                            ...mmm.....mmmmmmmmm............mmmmmm...............mmmmmmmm......mm....mmmmmm.........mm..mm...
                            ....mmm....mm.mm.mmmmmm...........mmm...........mmmmmmmm..........mmm.mmmmmmmm.......m.....mmm...
                            .....mm....mmmm..mm..mmmmmmmm........mmmmmmmmmmmmmm..mm..........mmmmmmm..mmm..........mmmmm.....
                            .....mm....mmmm..mm....mmmmmmmmmmmmmmmmmmmm..........mm......mmmmmmmm....mmm............mmm......
                            .....mm....mmmm..mm...mmm.......mm.......mm..........mmm.mmmmmmmmm.mm...mmm...........mmm........
                            .....mm....mmmmmmmm...mm........mm.......mm.........mmmmmmmmmmm....mm..mmm...........mmm.........
                            .....mm....mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm.......mmmmmm............mm..........
                            .....mm....mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm.mm...........mmm.............mmm..........
                            .....mm.....mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm.......mm.........mmm..............mmm...........
                            .....mm.....mm.mmmmmmmmmmmmmmmmmmmmmmmmmmm.mm..........mmm.....mmmm...............mmm............
                            .....mm......mm.mm..mm...mm.....mmm........mm...........mm...mmmm...............mmm..............
                            .....mm......mmmmmm.mmm...mm.....mm........mm............mmmmmm................mmm...............
                            .....mm.......mmmm...mmm..mmm....mm........mm.........mmmmmm.......m.....m...mmm.................
                            .....mm.........mmmmmmmmm..mm....mmm.......mm..mmmmmmmmm........m.....mm...mmmm..................
                            .....mm..............mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm.........mm....mm....mmmm ...............
                            ....mmm........m..........................................m.....mm....mmmmm.. ..............
                            ....mm..........m....................................mm......m.....mmmmm..... ..............
                            ....mm............m..............................mm......mm.....mmmmm........ ..............
                            ..mm.....mm........mmm...........mmmmmmmmmm......mm.......mmmmmm....... ............
                            .mm.........m.........................mmm............mmmmm...... ........
                            .mmm..........mmmmmmmmmmmmmmm.....................mmmmm...... ....
                            .mmm..........................................mmmmm...... ..
                            ..mmm...................................mm.mmmmm....... 
                            ...mmmm............................mmmmmmmmmm........ 
                            ....mmmmm...................mmmmmmmmm.............. 
                            .......mmmmmmmmmmmmmmmmmmmmmmmm....................-->
                    </div>
                </div>
            </div>
        </div>
        {# FIN BOTTOM BAR #}

{% endblock %}
