        <div class="modal hide fade" id="mainModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="modalTitle">{/modal_title/}</h3>
            </div>
            <div class="modal-body">
                <div id="modalMessage">
                        <p>
                            {/modal_message/}
                        </p>
                </div>
            </div>
            <div id="modalFooter" class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">{/modal_action1/}</a>
                <a href="index.html" class="btn btn-primary">{/modal_action2/}</a>
            </div>
        </div>