            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="javascript:void(0)">Light Panel indev</a>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li><a href="http://teamsolex.eu/"><span class="icon-home icon-white" style="opacity:0.6;"></span>&nbsp;Accueil</a></li>
                                <li><a href="http://teamsolex.eu/index.php">Forum</a></li>
                                <li><a href="http://teamsolex.eu/lc-login.php?logout">Déconnexion</a></li>
                                <li>
                                    <div class="progress progress-striped active" style="width:250px; margin:0;margin-top:10px; margin-left:50px;">
                                        <div class="bar" id="wip_bar" style="width:5%;margin:0;">5%</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>