<!--<a href="#"><h1 style="padding-top:7.3%; color:#c3c3c3; text-decoration:underline;" ><i>> Commander</i></h1></a>

<a href="#"><h1 style="padding-top:15.3%; color:#c3c3c3; text-decoration:underline"><i>> Mon compte</i></h1></a>
<a href="#" style="padding-top:3.2%; color:#B4AF91; font-size:18px; padding-left:25%;"><i>Récapitulatif</i></a>
<a href="#" style="padding-top:5%; line-height:40px; color:#B4AF91; font-size:18px; padding-left:25%;"><i>Editer mon compte</i></a>
-->


<ul class="nav nav-list">
  <li class="nav-header sidebarTitle1">&gt;Commander</li>
  <li ><a href="#" class="sidebarLink1">Ajouter des services</a></li>
  <li ><a href="#" class="sidebarLink1">Mon panier</a></li>
  <hr/>
  <li class="nav-header sidebarTitle1">&gt;Mon compte</li>
  <li ><a href="#" class="sidebarLink1">Récapitulatif</a></li>
  <li><a href="#" class="sidebarLink1">Editer mon compte</a></li>
  
  
  <hr/>
  
  <li class="nav-header" style="font-size: 30px; text-shadow: 3px solid #272727; padding-top:50px; line-height:30px; text-transform:none; border:1px #272727;">>Mes services</li>
  <li class="nav-header" style="font-size: 16px; text-decoration: underline; line-height: 5px; padding-left:15%; text-transform:none; border:1px #272727; color:#D8D8D8;">Serveurs de jeux</li>
<li ><a href="#" style="font-size:15px; padding-left:20%; color:#FFFFFF; line-height: 20px; ">#124 Minecraft 12 slots</a>
    <li ><a href="#" style="font-size:15px; padding-left:20%; color:#FFFFFF; line-height: 16px; ">#132 CS:GO 16 slots</a>
        
          <li class="nav-header" style="font-size: 16px; text-decoration: underline; line-height: 5px; padding-left:15%; text-transform:none; border:1px #272727; color:#D8D8D8;">Hébergement web</li>
<li ><a href="#" style="font-size:15px; padding-left:20%; color:#FFFFFF; line-height: 20px; ">Hébergement médium</a>
    
    <li class="nav-header" style="font-size: 16px; text-decoration: underline; line-height: 5px; padding-left:15%; text-transform:none; border:1px #272727; color:#D8D8D8;">Ma seedbox</li>
<li ><a href="#" style="font-size:15px; padding-left:20%; color:#FFFFFF; line-height: 20px; ">Seedbox médium</a>
    
  
 <hr/>
  
  <li class="nav-header" style="font-size: 30px; text-shadow: 3px solid #272727; padding-top:50px; line-height:30px; text-transform:none; border:1px #272727;">>Support</li>
  <li ><a href="#" style="font-size:15px; padding-left:15%; color:#FFFFFF;  ">Envoyer un ticket</a>
  <li><a href="#" style="font-size:15px; padding-left: 15%; color:#FFFFFF;">Mes tickets</a></li>
</ul>