{% extends "::base.html.twig" %}


        {% block css %}
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        {% endblock %}
            
    {% block title %}LightPanel connexion{% endblock %}
    {% block onLoad %}{% endblock %}
    {% block body %}
        {% include "LightPanelBundle:layout:navbar.html.twig" %}
        <div class="container">
            <div class="row">
                <div class="span12">
                    {#  LE CONTENT DE L'EXTRÊME  #}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block scripts %}
    {% endblock %}