
{% extends "::layout.html.twig" %}

{% block content %}

    <div class="span4 offset4 well" style="text-align: center">
                    
        <h2>Le panneau de contrôle de l'extrême</h2><br />
            <table>
                <thead>
                    <th>
                        <td>Id</td>
                        <td>Nom</td>
                        <td>Prénom</td>
                        <td>Mail</td>
                        <td>Rôles</td>
                        <td>Promouvoir</td>
                        <td>Editer</td>
                        <td>Supprimer</td>
                    </th>
                </thead>
                <tbody>
                    {% for user in $users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.mail }}</td>
                            <td>{{ user.roles }}</td>
                            <td><img src="#" alt="#" /></td>
                            <td><img src="#" alt="#" /></td>
                            <td><img src="#" alt="#" /></td>
                        </tr>      
                </tbody>
            </table>
        <a href='./page-{id}'>Page précédente <img src='pageprecedente.png' alt="#" /></a>   Page {{page}}   <a href='./page-{id}'><img src='pageprecedente.png' alt="#" /> Page suivante</a>
        
    </div>

{% endblock %}