                    <!-- ///////////////////////////////////////////////////////////////////////// -->
                    <!-- ////////        PAGE   CONSOLE      -      PAGE   CONSOLE        //////// -->
                    <!-- ///////////////////////////////////////////////////////////////////////// -->
                    <div class="row-fluid consolePage">
                        <div class="span12" style="padding-left:30px;">
                            <h2>Accès console :</h2>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="alert alert-warning" style="display:none">
                                        <strong>Développement en cours !</strong><br />
                                        Le développement de cette section est actuellement en cours.
                                    </div>
                                    <table class="table table-bordered" style="background-color:#0f0f0f; width:100%;">
                                        <thead>
                                            <tr>
                                                <th style="color:#008000; height:20px;">
                                                    <div style="float:left">
                                                        <a href="javascript:void(0)" class="btn" 
                                                           onClick="loadLogs()" id="loadButton">
                                                           1. T&eacute;l&eacutecharger les logs
                                                        </a>
                                                        <a href="javascript:void(0)" class="btn" 
                                                           onClick="consoleRefresh()" id="displayLogsButton">
                                                           2. Afficher les logs
                                                        </a>
                                                        &gt; Console : Connectée à 127.0.0.1
                                                    </div>
                                                    <div style="float:right">
                                                        <a href="javascript:void(0)" class="btn"
                                                           onClick="document.getElementById('output_div').innerHTML='&gt; Rcon connection status : <span style=\'color:green\'>OK</span><br>&gt; Ready.'">
                                                        <span class="icon-trash"></span>&nbsp;&nbsp;Nettoyer la console !</a>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="background-color:#0f0f0f; color:#a1a1a1;">
                                                    <div id="output_div" style="overflow:auto; height:400px;">
                                                        &gt; Session: <span id="date"></span> <span id="time"></span> LawlMan444 @ 127.0.0.1:25578<br>
                                                        &gt; Rcon connection status : <span style="color:green">OK</span><br>
                                                        &gt; Ready.
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="background-color:#0f0f0f; height:20px; vertical-align:middle">
                                                    <form style="margin-bottom:0;" class="form-search" 
                                                          action="javascript:void(0)" method="post"  
                                                          onSubmit="execCmd()">
                                                        <fieldset>
                                                            <div class="control-group">
                                                                <div class="controls">
                                                                    <div class="input-prepend" style="width:100%">
                                                                        <span class="add-on">&gt; LawlMan444@127.0.0.1 #</span>
                                                                        <input id="consoleCommand" type="text"  style="width:70%">
                                                                        <a onClick="execCmd()" href="javascript:void(0)" class="btn" style="width:7%">Envoyer</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--<input type="text" class="search-query" id="consoleCommand">-->
                                                        </fieldset>
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ///////////////////////////////////////////////////////////////////////// -->
                    <!-- ////////    FIN  PAGE  CONSOLE      -      FIN  PAGE  CONSOLE    //////// -->
                    <!-- ///////////////////////////////////////////////////////////////////////// -->
