                    <!-- ///////////////////////////////////////////////////////////////////////// -->
                    <!-- ////////       PAGE  MAINTENANCE     -    PAGE  MAINTENANCE      //////// -->
                    <!-- ///////////////////////////////////////////////////////////////////////// -->
                    <div class="row-fluid maintenancePage">
                        <div class="span12">
                                <h2>Accès maintenance :</h2>
                                <!-- MINTENANCE TABS -->
                                <div class="row-fluid">
                                    <div class="span12">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                            <a href="javascript:void(0)" id="globalStateButton">Etat général</a>
                                            <!--Inclure ping, plugs_defaillants/plugs_ok, nb_loaded_worlds, broadcast -->
                                            </li>
                                            <li class=""><a href="javascript:void(0)" id="pluginsTabButton">Plugins</a></li>
                                            <!-- liste, statut, enable/disable -->
                                            <li class="">
                                            <a href="javascript:void(0)" id="logBlockTabButton">LogBlock</a>
                                            <!--Inclure ping, plugs_defaillants/plugs_ok, nb_loaded_worlds, broadcast -->
                                            </li>
                                            <li class=""><a href="javascript:void(0)" id="multiverseTabButton">Multi-Mondes</a></li>
                                            <!-- liste, statut, enable/disable -->
                                            <li class=""><a href="javascript:void(0)" id="xAuthTabButton">xAuth</a></li>
                                            <li class=""><a href="javascript:void(0)" id="otherTabButton">Autre</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- FIN MAINTENANCE TABS -->
                                <!-- GLOBAL STATE TAB CONTENT -->
                                <div class="row-fluid" id="globalStateTab" >
                                    <div class="span12">
                                        <div class="row-fluid">
                                            <div class="alert alert-success">
                                                <span class="icon-ok"></span><strong>&nbsp;Section terminée !</strong><br />
                                                Le template ainsi que la logique de cette section sont terminés.<br />
                                                Cette dernière n'a plus qu'à être parsée avec la teamplate engine.
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span6">
                                                <div class="row-fluid">
                                                    <h3 style="margin-bottom:5px;">Plugins</h3>
                                                    <p>
                                                        Plugins installés au total
                                                    </p>
                                                    <p>
                                                        {/plugins_ok/}/ opérationnels
                                                    </p>
                                                    <p style="color:green">
                                                        Tous les plugins vitaux sont fonctionnels
                                                    </p>
                                                </div>
                                                <div class="row-fluid">
                                                    <h3>Mondes chargés (Multiverse)</h3>
                                                    <p>
                                                        {/mv_loaded_worlds/} mondes sont actuellement chargés.
                                                    </p>
                                                    <p>
                                                        {/mv_normal_worlds/} monde(s) normaux.
                                                    </p>
                                                    <p>
                                                        {/mv_nether_worlds/} monde(s) nether.
                                                    </p>
                                                    <p style="color:green">
                                                        {/mv_ok_worlds/}/{/mv_loaded_worlds/} mondes sont correctement chargés.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="span6">
                                                <div class="row-fluid">
                                                    <h3>Ping (<span style="color:green">ONLINE</span>)</h3>
                                                    <p>
                                                        Ping instantanné: <span style="color:green"><b>0.09ms</b></span>.<br/>
                                                        <em>Estimations basée sur le temps d'ouverture d'une socket vers le serveur distant.</em>
                                                    </p>
                                                </div>
                                                <div class="row-fluid">
                                                    <h3>Message global</h3>
                                                    <form action="javascript:void(0)" method="post" id="bcform" onSubmit="broadcast()">
                                                        <input type="text" id="broadcastMessage">
                                                        <a href="#" class="btn btn-primary" style="margin-top:-9px;" onclick="donument.getElementById('bcform').submit;" onClick="document.getElementById('bcform').submit()">Broadcast</a>
                    <div id="broadCastConfirmation" style="font-size:12px;"></div>
                                                    </form>
                                                </div>
                                                <div class="row-fluid">
                                                    <h3>Reload</h3>
                                                    <a class="btn btn-danger btn-large" onclick="setupModal('greload')" data-toggle="modal" href="#mainModal">Reload du serveur</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIN TAB GLOBALSTATE -->
                                <!-- PLUGINS TAB -->
                                <div id="pluginsTab" class="row-fluid" style="display:none">
                                    <div class="span12">
                                        <div class="row-fluid">
                                            <div class="span6">
                                                <h3>Liste des plugins chargés</h3>
                                                <div class="alert alert-warning">
                                                    <strong>En développement !</strong><br />
                                                    Le contenu ainsi que la logique de cette section sont actuellement en développement.
                                                </div>
                                                <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="width:40%">Nom</th>
                                                        <th style="width:20%">Vital</th>
                                                        <th style="width:20%">Fonctionnel</th>
                                                        <th style="width:20%">Activer/Désactiver</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Essentials</td>
                                                        <td>Oui</td>
                                                        <td>Oui</td>
                                                        <td><a href="#mainModal" style="display:inline" onClick="setupModal('plugToggle', '')" data-toggle="modal" class="btn">{/plugin_action/}</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Essentials Protect</td>
                                                        <td>Oui</td>
                                                        <td>Oui</td>
                                                        <td><a href="#mainModal" style="display:inline" onClick="setupModal('plugToggle', '')" data-toggle="modal" class="btn">{/plugin_action/}</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>xAuth</td>
                                                        <td>Oui</td>
                                                        <td>Oui</td>
                                                        <td><a href="#mainModal" style="display:inline" onClick="setupModal('plugToggle', '')" data-toggle="modal" class="btn">{/plugin_action/}</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>iConomy</td>
                                                        <td>Oui</td>
                                                        <td>Oui</td>
                                                        <td><a href="#mainModal" style="display:inline" onClick="setupModal('plugToggle', '')" data-toggle="modal" class="btn">{/plugin_action/}</a></td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIN PLUGINS TAB -->
                                <!-- {Plugin} LOGBLOCK  TAB -->
                                <div class="row-fluid">
                                    <div id="logBlockTab" class="span12">
                                        <!-- PLUGINS TAB CONTENT //-->
                                        <div class="row-fluid">
                                            <h2>LogBlock</h2>
                                            <div class="alert alert-info">
                                                <strong>Contenu à venir !</strong><br />
                                                Le contenu de cette section n'est pas encore en développement.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIN {Plugin} LOGBLOCK  TAB -->
                                <!-- {Plugin} MULTIVERSE  TAB -->
                                <div class="row-fluid">
                                    <div id="multiverseTab" class="span12">
                                        <!-- PLUGINS TAB CONTENT //-->
                                        <div class="row-fluid">
                                            <h2>Multiverse</h2>
                                            <div class="alert alert-info">
                                                <strong>Contenu à venir !</strong><br />
                                                Le contenu de cette section n'est pas encore en développement.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIN {Plugin} MULTIVERSE  TAB -->
                                <!-- {Plugin} XAUTH TAB -->
                                <div class="row-fluid">
                                    <div id="xAuthTab" class="span12">
                                        <!-- PLUGINS TAB CONTENT //-->
                                        <div class="row-fluid">
                                            <h2>xAuth</h2>
                                            <div class="alert alert-warning">
                                                <strong>Contenu à venir !</strong><br />
                                                La logique de cette section est actuellement en développement.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIN {Plugin} XAUTH TAB -->
                                <!-- {Plugin}OTHER TAB -->
                                <div class="row-fluid">
                                    <div id="otherTab" class="span12">
                                            <!-- PLUGINS TAB CONTENT //-->
                                        <div class="row-fluid">
                                            <h2>Autres</h2>
                                            <div class="alert alert-info">
                                                <strong>Contenu à venir !</strong><br />
                                                Le contenu de cette section n'est pas encore en développement.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIN {Plugin}OTHER TAB -->
                        </div>
                    </div>
                    <!-- ///////////////////////////////////////////////////////////////////////// -->
                    <!-- ////////     FIN PAGE  MAINTENANCE   -   FIN PAGE  MAINTENANCE   //////// -->
                    <!-- ///////////////////////////////////////////////////////////////////////// -->
