                    <div class="row-fluid">
                        <div class="span12">
                            <div class="navbar" id="navbar" style="clear:both">
                                <div class="navbar-inner">
                                    <div class="container" style="padding-top:4px" >
                                        <a class="brand" href="javascript:void(0)">
                                            <img src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Status-user-online-icon.png"
                                                 style="height: 25px; width: 25px;margin:0; padding: 0;" />
                                            #124 - Gestion de mon serveur</a>
                                        <div style="text-align: right">
                                            <a class="btn maintBtn" href="javascript:void(0)">Gestion Globale</a>
                                            <a class="btn consoleBtn" href="javascript:void(0)" onClick="setDateFields();">Console</a>
                                            <a class="btn permsBtn" href="javascript:void(0)">Autoplugin</a>
                                            <a class="btn btn-danger configBtn" href="javascript:void(0)">Config du Panel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
