{% extends "::layout.html.twig" %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('bundles/lightpanel/js/console.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lightpanel/js/maintenance.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lightpanel/js/quick_user.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lightpanel/js/ssi_tabs.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lightpanel/js/ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lightpanel/js/ssi_quickuser.js') }}"></script>
    <script type="text/javascript">

    // for the console welcome message

    function setDateFields(){
            var d = new Date();
            var minutes = 	(d.getMinutes()<10) ? "0"+d.getMinutes() : d.getMinutes();
            var hours = 	(d.getHours()<10) ? "0"+d.getHours() : d.getHours();
            var day = 		(d.getDate()<10) ? "0"+d.getDate() : d.getDate();
            var month = 	(d.getMonth()<10) ? "0"+d.getMonth() : d.getMonth();
            var time = hours+":"+ minutes;
            var date = day+"/"+month+"/"+d.getFullYear();
            document.getElementById("time").innerHTML=time;
            document.getElementById("date").innerHTML=date;
    }
        </script>
        <style>
        .sidebarLink1{
            font-size:15px;
            padding-left:15% !important;
            color:#FFFFFF;
            }
        .sidebarTitle1{
            font-size: 30px !important;
            text-shadow: 3px solid #272727 !important; 
            padding-top:100px !important; 
            line-height:30px !important; 
            text-transform:none !important; 
            border:1px #272727 !important;
            }
        </style>
    
{% endblock %}
{% block title %}LightPanel : Mon serveur Minecraft{% endblock %}
{% block onLoad %}setDateFields(){% endblock %}
{% block content %}
{# INDENTATIONS A RESPECTER IMPERATIVEMENT #}
{# INDENTATIONS A RESPECTER IMPERATIVEMENT #}
{# INDENTATIONS A RESPECTER IMPERATIVEMENT #}
                    <div class="row">
                        <div class="span9">
                            <div class="row">
                                {# HERO SERVER STATUS #}
                                <div class="hero-unit" style="height:180px; padding-top:20px">
                                    <div class="span2">
                                        <img src="{{ asset('bundles/lightpanel/img/server.png') }}" alt="server"/>
                                    </div>
                                    <div class="span7">
                                        <h1>Serveur <span style="color:green">ONLINE</span> !</h1>
                                        <p>
                                            IP : 127.0.0.1:25565<br/>
                                            Joueurs en ligne : 0/12<br/>
                                            Plugins : <span style="color:#0a0;">Tous opérationnels</span>
                                        </p>
                                        <p>
                                            <a class="btn btn-success btn-large" onclick="setupModal('freb');" data-toggle="modal" href="#mainModal">
                                            <span class="icon-repeat" style="margin-top:2px;"></span> Redémarrage rapide &raquo;</a>
                                        </p>
                                    </div>
                                </div>
                                {# FIN HERO SERVER STATUS #}
                                {# NAVBAR+TAB #}
                                <div class="row">
                                    <div class="span12">
                                        {% include "LightPanelBundle:MinecraftServer:navbar.html.twig" %}
                                        
                                        {% include "LightPanelBundle:MinecraftServer:maintenance.html.twig" %}                 
                                        {% include "LightPanelBundle:MinecraftServer:console.html.twig" %}                
                                        {% include "LightPanelBundle:MinecraftServer:permissions.html.twig" %}  
                                    </div>
                                </div>
                                {# FIN NAVBAR+TAB #}
                            </div>
                        </div>
                        {# SIDEBAR #}
                        <div class="span3">
                            {% include "LightPanelBundle:MinecraftServer:sidebar.html.twig" %}
                        </div>
                        {# FIN SIDEBAR #}
                    </div>
                    {# BOTTOM BAR #}
                    <div class="navbar" style="clear:both; padding-top:20px;">
                        <div class="navbar-inner">
                            <div class="container">
                                <div style="text-align:center; float:right; margin-top:3px;">
                                    <img src="http://www.w3.org/html/logo/badge/html5-badge-h-performance-semantics.png" width="82" height="32" alt="HTML5 Powered with Performance &amp; Integration, and Semantics" title="HTML5 Powered with Performance &amp; Integration, and Semantics">
                                    <img src="http://teamsolex.eu/lc-events/web/img/ajax.png" width="82" height="32" alt="Asynchronous Javascript And Xml" title="AJAX Powered">
                                </div>
                                <div class="span9" style="margin-top:8px; text-align:center; clear:none;z-index: 10; position:absolute;">
                                    <a href="mailto:alexisbeaujet@gmail.com" style="color:#707070; vertical-align:middle;">&copy;2013 Alexis Beaujet (LawlMan444)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# FIN BOTTOM BAR #}
{% endblock %}
