{% extends "LightPanelBundle::layout.html.twig" %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('bundles/lightpanel/js/console.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lightpanel/js/maintenance.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lightpanel/js/quick_user.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lightpanel/js/ssi_tabs.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lightpanel/js/ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lightpanel/js/ssi_quickuser.js') }}"></script>
    <script type="text/javascript">

    // for the console welcome message

    function setDateFields(){
            var d = new Date();
            var minutes = 	(d.getMinutes()<10) ? "0"+d.getMinutes() : d.getMinutes();
            var hours = 	(d.getHours()<10) ? "0"+d.getHours() : d.getHours();
            var day = 		(d.getDate()<10) ? "0"+d.getDate() : d.getDate();
            var month = 	(d.getMonth()<10) ? "0"+d.getMonth() : d.getMonth();
            var time = hours+":"+ minutes;
            var date = day+"/"+month+"/"+d.getFullYear();
            document.getElementById("time").innerHTML=time;
            document.getElementById("date").innerHTML=date;
    }
    </script>
{% endblock %}

{% block onLoad %}$('#ajaxTests').modal('show'); setDateFields(){% endblock %}
{% block content %}
                    <div class="row-fluid">
                        <!-- HERO SERVER STATUS -->
                        <div class="span9">
                            <div class="hero-unit" style="height:180px; padding-top:20px">
                                <div class="span3">
                                    <img src="{{ asset('bundles/lightpanel/img/server.png') }}" alt="server"/>
                                </div>
                                <div class="span9">
                                    <h1>Serveur <span style="color:green">ONLINE</span> !</h1>
                                    <p>
                                        IP : 127.0.0.1<br/>
                                        Ping : 0.09 ms<br/>
                                        Joueurs en ligne : 0/12<br/>
                                        Plugins : {/plugins_status/}
                                    </p>
                                    <p>
                                        <a class="btn btn-success btn-large" onclick="setupModal('freb');" data-toggle="modal" href="#mainModal">
                                        <span class="icon-repeat" style="margin-top:2px;"></span> Fast Reboot &raquo;</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- FIN HERO SERVER STATUS -->
                        <!-- SIDEBAR -->
                        <div class="span3">
                            {% include "LightPanelBundle:MinecraftServer:sidebar.html.twig" %}
                        </div>
                                <!-- FIN SIDEBAR-->
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            <!-- NAVBAR MIDDLE -->
                            {% include "LightPanelBundle:MinecraftServer:navbar.html.twig" %}
                            <!-- FIN NAVBAR MIDDLE -->

                            {% include "LightPanelBundle:MinecraftServer:maintenance.html.twig" %}                 
                            {% include "LightPanelBundle:MinecraftServer:console.html.twig" %}                
                            {% include "LightPanelBundle:MinecraftServer:permissions.html.twig" %}  
                        </div>
                    </div>
                    <!-- BOTTOM BAR -->
                    <div class="navbar" style="clear:both; padding-top:20px;">
                        <div class="navbar-inner">
                            <div class="container">
                                <div style="text-align:center; float:left; margin-top:3px;">
                                    <a href="http://validator.w3.org/check?uri=http%3A%2F%2Flawlman.no-ip.org%2FSSI_bs%2F">
                                    <img src="http://www.w3.org/html/logo/badge/html5-badge-h-performance-semantics.png" width="82" height="32" alt="HTML5 Powered with Performance &amp; Integration, and Semantics" title="HTML5 Powered with Performance &amp; Integration, and Semantics"></a>
                                    <img src="http://teamsolex.eu/lc-events/web/img/ajax.png" width="82" height="32" alt="Asynchronous Javascript And Xml" title="AJAX Powered">
                                </div>
                                <div class="span9" style="margin-top:8px; text-align:center; clear:none;z-index: 10; position:absolute;">

                                    <a href="mailto:alexisbeaujet@gmail.com" style="color:#707070; vertical-align:middle;">&copy;2012 Alexis Beaujet (LawlMan444)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN BOTTOM BAR -->
{% endblock %}