                    <!-- ///////////////////////////////////////////////////////////////////////// -->
                    <!-- ////////       PAGE  PERMISSIONS     -    PAGE  PERMISSIONS      //////// -->
                    <!-- ///////////////////////////////////////////////////////////////////////// -->
                    <div class="row-fluid permissionsPage">
                        <div class="span12" style="padding-left:30px;">
                            <h2>Accès permissions :</h2>
                            <!-- PERMISSIONS TABS -->
                            <div class="row-fluid">
                                <div class="span12">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="javascript:void(0)" id="permissionsStateButton">Etat général</a>
                                            <!--Inclure statut du pex, pex reload, nb_users nb_groups, nb Test, nb Villageois, nb V.I.P, nb Modo, nb Admin -->
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" id="permissionsUsersButton">Utilisateurs</a></li>
                                            <!-- liste, statut, enable/disable -->
                                        <li>
                                            <a href="javascript:void(0)">Groupes</a>
                                            <!--Inclure ping, plugs_defaillants/plugs_ok, nb_loaded_worlds, broadcast -->
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Multi-mondes</a></li>
                                            <!-- liste, statut, enable/disable -->
                                        <li>
                                            <a href="javascript:void(0)">Autre</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- FIN PERMISSIONS TABS -->
                            <!-- {permissions} STATE TAB -->
                            <div class="row-fluid" id="permissionsStateTab">
                                <div class="span12">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="row-fluid">
                                                <h3 style="margin-bottom:5px;">Etat de <abbr title="Permissions EX">PEX</abbr></h3>
                                                <div class="row-fluid">
                                                    <div class="span4">
                                                        <div class="label label-success">
                                                            {/pex_status/}<!--Plugin fonctionnel-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row-fliud">
                                                    <p>
                                                        {/pex_multiw_worlds/} / {/mv_loaded_worlds/} mondes pris en charge
                                                    </p>
                                                    <p style="color:green">
                                                        {/vital_plugins_state/}<!-- Tous les plugins vitaux sont fonctionnels -->
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="row-fluid">
                                                    <h3>Statistiques</h3>
                                                    <p>
                                                        {/pex_registered_users/} utilisateurs enregistrés.
                                                    </p>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span4">
                                                        <p>
                                                            {/pex_groups/} groupes.
                                                        </p>
                                                        <p>
                                                            {/pex_grp_admin_count/} Admins.
                                                        </p>
                                                        <p>
                                                            {/pex_grp_villageois_count/} Villageois.
                                                        </p>
                                                    </div>
                                                    <div class="span8">
                                                        <p>
                                                            {/pex_grp_test_count/} Test.
                                                        </p>
                                                        <p>
                                                            {/pex_grp_modo_count/} Modérateur.
                                                        </p>
                                                        <p>
                                                            {/pex_grp_vip_count/} V.I.P.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="row-fluid">
                                                <h3>Quick Groupset</h3>
                                                <form action="#" id="promoteForm" class="well form-horizontal" style="width:300px;">
                                                    <div class="clearfix">
                                                        <label>Nom d'utilisateur : </label>
                                                        <div class="input">
                                                            <select name="username" id="usernamePromote">
                                                                <option value="LawlMan444">LawlMan444</option>
                                                                <option value="__Solar__">__Solar__</option>
                                                                <option value="quent_1">quent_1</option>
                                                                <option value="Christmoi">Christmoi</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix">
                                                        <label>Groupe : </label>
                                                        <div class="input">
                                                            <select name="group" id="groupPromote">
                                                                <option value="test">Visiteur</option>
                                                                <option value="test">Test</option>
                                                                <option value="villageois">Villageois</option>
                                                                <option value="modo">Modérateur</option>
                                                                <option value="vip">V.I.P</option>
                                                                <option value="admin">Admin</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix">
                                                        <a href="#" style="margin-top:8px;" onclick="document.getElementById('promoteForm').submit();" class="btn btn-primary">Assigner le groupe</a>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="row-fluid">
                                                <h3>Reload</h3>
                                                <a class="btn btn-danger btn-large" data-toggle="modal" href="#reloadModal">Reload du PEX</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN {permissions} STATE TAB -->
                            <!-- {permissions} USERS TAB -->
                            <div class="row-fluid" id="permissionsUsersTab">
                                <div class="span12" style="margin-left:30px;">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="row-fluid">
                                                <h3>Edition des permissions</h3>
                                                <div class="row-fliud">
                                                    <form action="javascript:void(0)" class="form well">
                                                        <select name="username" id="usernameAddDelNode">
                                                            <option value="">Sélectioner un joueur</option>
                                                            <option value="LawlMan444">LawlMan444</option>
                                                            <option value="__Solar__">__Solar__</option>
                                                            <option value="quent_1">quent_1</option>
                                                            <option value="Christmoi">Christmoi</option>
                                                            <option value="Actoue">Actoue</option>
                                                        </select><br />
                                                        <h4>Attribuer une permissions: </h4>
                                                        <input  name="addNode" type="text" class="search" 
                                                                placeholder="nouvelle node">
                                                        <a href="javascript:void(0)" class="btn btn-primary">
                                                                Valider</a><br />
                                                        <h4>Ôter une permission : </h4>
                                                        <input  name="removeNode" type="text" class="search" 
                                                                placeholder="node superflux">
                                                        <a href="javascript:void(0)" class="btn btn-primary">
                                                                Valider</a>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="row-fluid">
                                                <h3 style="margin-bottom:7px;">Supprimer un utilisateur</h3>
                                                <form action="#" id="userDelForm" class="well form-horizontal" style="width:300px;">
                                                    <div class="clearfix">
                                                        <label>Nom d'utilisateur : </label>
                                                        <div class="input">
                                                            <select name="username" id="usernameDel">
                                                                <option value="LawlMan444">LawlMan444</option>
                                                                <option value="__Solar__">__Solar__</option>
                                                                <option value="quent_1">quent_1</option>
                                                                <option value="Christmoi">Christmoi</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix">
                                                        <a href="#" style="margin-top:8px;" onclick="document.getElementById('promoteForm').submit();" class="btn btn-primary">Supprimmer</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN {permissions} USERS TAB -->
                        </div>
                    </div>
                    <!-- ///////////////////////////////////////////////////////////////////////// -->
                    <!-- ////////     FIN PAGE  PERMISSIONS   -   FIN PAGE  PERMISSIONS   //////// -->
                    <!-- ///////////////////////////////////////////////////////////////////////// -->
