
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header" style="font-size:17px;">
                                <span class="icon-user" style="padding-top:4px;"></span>Joueurs connectés 
                            </li>
                            <li onmouseover="this.className='active';" onmouseout="this.className='';" style="margin-left:20px;">
                                <a href="javascript:void(0)" class="playerLawlMan444">
                                <span class="icon-star" style="margin-top:2px;"></span> LawlMan444 </a>
                                <div class="btn-group playerLawlMan444Options">
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('ban', 'LawlMan444'); 								 						
                                            $('#mainModal').modal('show');">Ban</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('kick', '{/playername/}'); 								 						
                                            $('#mainModal').modal('show');">Kick</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('jail', '{/playername/}'); 								 						
                                            $('#mainModal').modal('show');">Jail</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('psay', '{/playername/}'); 								 						
                                            $('#mainModal').modal('show');">Msg</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('sudo', '{/playername/}'); 								 						
                                            $('#mainModal').modal('show');">Sudo</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('info', '{/playername/}'); 								 						
                                            $('#mainModal').modal('show');">Info</button>
                                </div>
                            </li>
                            <li onmouseover="this.className='active';" onmouseout="this.className='';" style="margin-left:20px;">
                                <a href="javascript:void(0)" class="player__Solar__">
                                <span class="icon-star" style="margin-top:2px;"></span> __Solar__</a>
                                <div class="btn-group player__Solar__Options">
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('ban', '__Solar__'); 								 						
                                            $('#mainModal').modal('show');">Ban</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('kick', '__Solar__'); 								 						
                                            $('#mainModal').modal('show');">Kick</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('jail', '__Solar__'); 								 						
                                            $('#mainModal').modal('show');">Jail</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('psay', '__Solar__'); 								 						
                                            $('#mainModal').modal('show');">Msg</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('sudo', '__Solar__'); 								 						
                                            $('#mainModal').modal('show');">Sudo</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('info', '__Solar__'); 								 						
                                            $('#mainModal').modal('show');">Info</button>
                                </div>
                            </li>
                            <li onmouseover="this.className='active';" onmouseout="this.className='';" style="margin-left:20px;">
                                <a href="javascript:void(0)" class="playerQuent_1">
                                <span class="icon-star-empty" style="margin-top:2px;"></span> quent_1</a>
                                <div class="btn-group playerQuent_1Options">
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('ban', 'quent_1'); 								 						
                                            $('#mainModal').modal('show');">Ban</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('kick', 'quent_1'); 								 						
                                            $('#mainModal').modal('show');">Kick</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('jail', 'quent_1'); 								 						
                                            $('#mainModal').modal('show');">Jail</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('psay', 'quent_1'); 								 						
                                            $('#mainModal').modal('show');">Msg</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('sudo', 'quent_1'); 								 						
                                            $('#mainModal').modal('show');">Sudo</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('info', 'quent_1'); 								 						
                                            $('#mainModal').modal('show');">Info</button>
                                </div>
                            </li>
                            <li onmouseover="this.className='active';" onmouseout="this.className='';" style="margin-left:20px;">
                                <a href="javascript:void(0)" class="playerChristmoi">
                                <span class="icon-star-empty" style="margin-top:2px;"></span> Christmoi</a>
                                <div class="btn-group playerChristmoiOptions">
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('ban', 'Christmoi'); 								 						
                                            $('#mainModal').modal('show');">Ban</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('kick', 'Christmoi'); 								 						
                                            $('#mainModal').modal('show');">Kick</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('jail', 'Christmoi'); 								 						
                                            $('#mainModal').modal('show');">Jail</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('psay', 'Christmoi'); 								 						
                                            $('#mainModal').modal('show');">Msg</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('sudo', 'Christmoi'); 								 						
                                            $('#mainModal').modal('show');">Sudo</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('info', 'Christmoi'); 								 						
                                            $('#mainModal').modal('show');">Info</button>
                                </div>
                            </li>
                            <li onmouseover="this.className='active';" onmouseout="this.className='';" style="margin-left:20px;">
                                <a href="javascript:void(0)" style="margin-left:6px;" class="playerActoue">Actoue</a>
                                <div class="btn-group playerActoueOptions">
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('ban', 'Actoue'); 								 						
                                            $('#mainModal').modal('show');">Ban</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('kick', 'Actoue'); 								 						
                                            $('#mainModal').modal('show');">Kick</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('jail', 'Actoue'); 								 						
                                            $('#mainModal').modal('show');">Jail</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('psay', 'Actoue'); 								 						
                                            $('#mainModal').modal('show');">Msg</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('sudo', 'Actoue'); 								 						
                                            $('#mainModal').modal('show');">Sudo</button>
                                    <button class="btn btn-mini" 
                                            onclick="	setupModal('info', 'Actoue'); 								 						
                                            $('#mainModal').modal('show');">Info</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--/.well -->
