<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}"/>

        <style type="text/css">
                {% block css %}{% endblock %}
        </style>
        {% block headtag %}{%endblock %}
        <title>{% block title %}LightPanel{% endblock %}</title>
    </head>
    <body onLoad="{% block onLoad %}{% endblock %}">
        {% block body %}
        {% endblock %}
        <!-- MAIN MODAL -->
        {% include "LightPanelBundle:layout:modal.html.twig" %}
    </body>
    <script src="{{ asset('bootstrap/js/jquery.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    
    {% block scripts %}
    {% endblock %}
</html>