{% extends "::base.html.twig" %}


        {% block css %}
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            /*padding: 9px 0;*/
            padding-left:9px;
        }
        /*.mySidebar {
            /*padding: 9px 0;*/
            padding-left:5px;
            background-color: #272727;
            position: absolute;
            top:0;
            left:0;
            height:100%;
            width: 16.6%;
            border-right-color: #030303;
            border-right-style: solid;
            border-right-width:2px;
            box-shadow: 3px #272727;
            }
            
        .mySidebar a:hover{
            text-decoration: none;
            }*/
        {% endblock %}
            
    {% block title %}LightPanel indev{% endblock %}
    {% block onLoad %}{% endblock %}
    {% block body %}
        {% include "LightPanelBundle:layout:navbar.html.twig" %}
        <!-- Fin topBar -->
        <div class="container">
            <div class="row">
                {#<div class="span2 leftspacer" style="display:block; color: transparent">
                    {# A laisser vide -#}
                {# </div> #}
                <div class="span12 content">
                    {#  LE CONTENT DE L'EXTRÊME  #}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <!--/container-fluid-->
        {#<div class="mySidebar" style="padding-top:40px;">
              LA SIDEBAR DE L'EXTRÊME  
            {% include "LightPanelBundle:layout:sidebar.html.twig" %}
        </div>#}
    {% endblock %}