<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}"/>

        <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            /*padding: 9px 0;*/
            padding-left:9px;
        }
        .mySidebar {
            /*padding: 9px 0;*/
            padding-left:5px;
            background-color: #272727;
            position: absolute;
            top:0;
            left:0;
            height:100%;
            width: 16.6%;
            border-right-color: #030303;
            border-right-style: solid;
            border-right-width:2px;
            box-shadow: 3px #272727;
            }
            
            .mySidebar a:hover{
                text-decoration: none;
                }
            
        </style>
        {% block headtag %}{%endblock %}
        <title>{% block title %}LightPanel indev{% endblock %}</title>
    </head>
    <body onLoad="{% block onLoad %}{% endblock %}">
        {% include "LightPanelBundle:layout:navbar.html.twig" %}
        <!-- Fin topBar -->
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2 leftspacer" style="display:block; color: transparent">
                    {# A laisser vide #}-
                </div>
                <div class="span10 content">
                    {#  LE CONTENT DE L'EXTRÊME  #}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <!--/container-fluid-->
        <!-- MAIN MODAL -->
        {% include "LightPanelBundle:layout:modal.html.twig" %}
        <!-- FIN MAIN MODAL -->
        <div class="mySidebar" style="padding-top:40px;">
            {#  LA SIDEBAR DE L'EXTRÊME  #}
            {% include "LightPanelBundle:layout:sidebar.html.twig" %}
        </div>
    </body>
    <script src="{{ asset('bootstrap/js/jquery.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</html>